# وردپرس
wp-config.php
wp-content/uploads/
wp-content/backup-db/

# فایل‌های سیستمی
.vscode/
.DS_Store
Thumbs.db


# مخفی کردن قالب اصلی وودمارت (پولی)
wp-content/themes/woodmart/

# مخفی کردن افزونه‌های پولی وودمارت
wp-content/plugins/woodmart-core/
wp-content/plugins/js_composer/
wp-content/plugins/revslider/


# مخفی کردن فایل‌های بک‌آپ Duplicator
wp-content/backups-dup-lite/
